<div class="row header-wrapper">
  <div class="col-md-4 col-md-offset-8 hidden-xs hidden-sm top-nav-menu">
    <ul class="nav nav-pills">
      <li>
        <a routerLinkActive="active"
           routerLink="/login-register">Log in / Register</a>
      </li>
      <li>
        <a routerLinkActive="active">About Us</a>
      </li>
      <li>
        <a routerLinkActive="active"
           routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>

  <div class="col-md-7 col-sm-10 col-xs-8 logo">
    <a routerLink="/">
      <img [src]="logo" class="img-responsive">
    </a>
  </div>

  <div class="col-sm-1 col-xs-2 search-util">
    <img (click)="toggleSearch()" class="search-icon"
         [src]="isSearchBarVisibleOnHandheldDevice ? cancelCross : searchIcon">
  </div>

  <div [ngClass]="isSearchBarVisibleOnHandheldDevice ? 'display' : ''" class="col-md-5 col-sm-12 col-xs-12 search">
    <app-search></app-search>
  </div>

  <app-main-nav></app-main-nav>
</div>
