.header-wrapper {

  @media (max-width: 991px) {
    padding-bottom: 20px;
    border-bottom: 5px solid #EEEEEE;
  }

  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
  
  .top-nav-menu {
    .nav {
      float: right;
      margin-top: 10px;

      li {
        padding: 0 10px;
        border-right: 1px solid #555555;

        &:last-child {
          border: none;
        }

        a {
          padding: 0;
          border-radius: 0;
        }
      }
    }
  }

  .main-nav {
    padding-left: 0;
    padding-right: 0;
  }
}