.footer-wrapper {
  padding: 20px 0;
  border-top: 2px solid #a91c30;
  font-size: 0.857rem;
  color: #666666;

  @media (max-width: 767px) {
    padding: 15px 0;
  }

  @media print {
    border-top: none !important;
  }

  .footer-content {
    @media print {
      display: none !important;
    }

    .footer-menu {
      margin-bottom: 5px;

      @media (max-width: 767px) {
        margin-bottom: 0 !important;
      }

      ul {
        li {
          border-right: 1px solid gray;

          @media (max-width: 767px) {
            display: block;
            width: 100%;
            margin-bottom: 14px;
            border-right: 0;
          }

          &:first-child a {
            padding: 0 15px 0 0;

            @media (max-width: 767px) {
              padding: 0 10px 0 5px;
            }
          }

          &:last-child {
            border: none;
          }

          a {
            color: #666666;
            padding: 0 15px;

            @media (max-width: 767px) {
              padding: 0 5px;
            }
          }
        }
      }
    }

    .copyright {
      @media (max-width: 767px) {
        padding: 0 5px;
      }
    }

    > div {
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }

  .footer-logo {
    text-align: right;
    padding-right: 50px;

    @media (max-width: 767px) {
      text-align: left;
      margin-top: 25px;
    }

    @media (max-width: 991px) {
      text-align: left;
      margin-top: 25px;
    }

    img {
      //@media (max-width: 991px) {
      //  float: none !important;
      //}
      //
      //@media (max-width: 767px) {
      //  float: none !important;
      //}
    }
  }
}