<div class="contact-us-wrapper">
  <div class="row no-margin">
    <div class="col-md-9 col-sm-9 title no-padding">
      <h1>Contact Us</h1>
    </div>

    <div class="icons hidden-xs col-md-3 col-sm-3 no-padding">
      <div>
        <img [src]="print">
      </div>
      <div>
        <img [src]="share"> <span class="share">Share</span>
      </div>
    </div>
  </div>

  <div class="row no-margin">
    <div class="col-md-9 no-padding">
      <div class="breadcrumbs">
        <app-breadcrumbs></app-breadcrumbs>
      </div>

      <div class="overview">
        <div class="overview-title">
          The CPhA Knowledge Hub is managed and maintained by the Canadian Pharmacists Association (CPhA). For technical support and product feedback contact us by selecting one of the following methods.
          Customer Service: Weekdays, 8:30 am to 4:30 pm ET (excluding statutory holidays). Website communications, email and voicemail sent outside the hours of operation will be reviewed the next business day.
        </div>
      </div>

      <div class="col-md-5 col-sm-12 no-padding">
        <div>
          <h3>Mailing Address</h3>

          <div class="address">
            1785 Alta Vista Drive
            <br/>Ottawa, ON K1G 3Y6
          </div>

          <div class="contact">
            Tel: <a href="tel:1-800-917-9489">1-800-917-9489</a> or <a href="tel:613-523-7877">613-523-7877</a>
            <br/> Fax: 613-523-0445
          </div>
        </div>

        <div>
          <h3>General Questions</h3>

          <div class="question-attr">
            Jane Doe, Administrative Coordinator
            <br/>Tel: (613) 222-2222, .ext. 222
            <br/>jandoe@researchhub.ca
          </div>
        </div>

        <div>
          <h3>Website Issues</h3>

          <div class="issue">
            To report an issue with our website or knowledge Repository, please email <a href="mail:info@researchhub.ca">info@researchhub.ca</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-1 col-sm-12 no-padding submission-how-to">
        <h2 class="title">How to make a submission</h2>
        <div class="sub-text">
          <p>Interested in submitting a document for inclusion in the CPhA Knowledge Hub?</p>

          <p>Please include the following information along with the document.  We will review it and get back to you.</p>

          <p class="required-indicator">All fields are required.</p>

          <form [formGroup]="submissionForm">
            <div class="row form-group">
              <label class="col-md-3 control-label" for="name">Your Name:</label>

              <div class="col-md-9">
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="email">Your Email:</label>

              <div class="col-md-9">
                <input type="text" class="form-control" id="email" formControlName="email">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="documentTitle">Document Title:</label>

              <div class="col-md-9">
                <input type="text" class="form-control" id="documentTitle" formControlName="documentTitle">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="email">Description</label>

              <div class="col-md-9">
                <textarea class="form-control" formControlName="documentDescription"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="email">Date Published</label>

              <div class="col-md-9">
                <input class="form-control" type="text"
                       #df="bsDatepicker"
                       formControlName="datePublished"
                       [bsConfig]="{ containerClass: 'theme-default', showWeekNumbers: false }"
                       placeholder="YYYY/MM/DD"
                       bsDatepicker>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="category">Category:</label>

              <div class="col-md-9">
                <select class="form-control" id="category" formControlName="category">
                  <option value="null">None</option>
                  <option value="Practice Advancement">Practice Advancement</option>
                  <option value="Pharmacy Workforce">Pharmacy Workforce</option>
                  <option value="Practise Research">Practise Research</option>
                  <option value="Practise Development">Practise Development</option>
                  <option value="Health & Pharmacy Economics">Health & Pharmacy Economics</option>
                  <option value="Health Policy and Regulation">Health Policy and Regulation</option>
                </select>
              </div>
            </div>


            <div class="row form-group">
              <label class="col-md-3 control-label" for="sourceType">Source Type:</label>

              <div class="col-md-9">
                <select class="form-control" id="sourceType" formControlName="sourceType">
                  <option value="null">None</option>
                  <option value="national">National</option>
                  <option value="provincial">Provincial</option>
                  <option value="interNational">International</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="keywords">Keywords:</label>

              <div class="col-md-9">
                <input type="text" class="form-control" id="keywords" formControlName="keywords">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 control-label" for="fileupload">Upload File:</label>

              <div class="col-md-6">
                <input type="file" id="fileupload" formControlName="uploadFile">
              </div>
            </div>

            <div class="submit row">
              <div class="col-md-offset-3 col-md-6">
                <button [disabled]="submissionForm.invalid || submissionForm.pristine" (click)="onFormSubmit()" class="btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>