<div class="main-nav-wrapper">
  <div class="col-md-12 col-sm-12 col-xs-12 nav-bar" [ngClass]="isMenuOpen ? 'display-menu' : ''">
    <ul class="nav nav-pills" [ngClass]="isMenuOpen ? 'nav-stacked' : 'nav-justified'">
      <li>
        <a routerLinkActive="active" routerLink="/regulation">
          <span>Regulation</span></a>
      </li>
      <li class="extra">
        <a routerLinkActive="active">Workforce and Education</a>
      </li>
      <li>
        <a routerLinkActive="active">IMS Data</a>
      </li>
      <li>
        <a routerLinkActive="active">Advocacy</a>
      </li>
      <li>
        <a routerLinkActive="active">Pharmacy Remuneration</a>
      </li>
      <li>
        <a routerLinkActive="active">Pharmacy Practice</a>
      </li>
      <li>
        <a routerLinkActive="active">IT/Innovation</a>
      </li>
      <li class="mobile-addon first visible-sm visible-xs">
        <a routerLinkActive="active">About Us</a>
      </li>
      <li class="mobile-addon last visible-sm visible-xs">
        <a routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
      </li>
      <li class="login visible-sm visible-xs">
        <a class="col-sm-offset-4 col-sm-4 col-xs-8 col-xs-offset-2" routerLinkActive="active"
           routerLink="/login-register">Log in / Register</a>
      </li>
    </ul>
  </div>

  <div *ngIf="!isMenuOpen" (click)="toggleMenu()" class="menu-icon visible-sm visible-xs">
    <img [src]="menuIcon">
  </div>
  <div *ngIf="isMenuOpen" (click)="toggleMenu()" class="menu-icon-close visible-sm visible-xs">
    <img [src]="close">
  </div>
</div>