.main-nav-wrapper {

  .menu-icon {
    @media (max-width: 991px) {
      margin: 10px 5px;
    }
  }

  .nav-bar {
    .nav {
      border-spacing: 5px;
      font-size: 1.143rem;

      li {
        margin-left: 5px;
        margin-right: 5px;

        &.extra {
          width: 2%;
        }

        a {
          padding: 15px;
          background-color: #555555;
          color: white;
          text-align: center;
        }
      }
    }
  }

  .top-nav-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1rem;

    .nav {
      li {

      }
    }
  }
}