<div class="main-nav-wrapper">
  <div class="col-md-12 col-sm-12 col-xs-12 nav-bar" [ngClass]="isMenuOpen ? 'display-menu' : ''">
    <ul class="nav nav-pills" [ngClass]="isMenuOpen ? 'nav-stacked' : 'nav-justified'">
      <li>
        <a>Regulation</a>
      </li>
      <li class="extra">
        <a>Workforce and Education</a>
      </li>
      <li>
        <a>IMS Data</a>
      </li>
      <li>
        <a>Advocacy</a>
      </li>
      <li>
        <a>Pharmacy Remuneration</a>
      </li>
      <li>
        <a>Pharmacy Practice</a>
      </li>
      <li>
        <a>IT/Innovation</a>
      </li>
      <li class="mobile-addon first visible-sm">
        <a>About Us</a>
      </li>
      <li class="mobile-addon last visible-sm">
        <a>Contact Us</a>
      </li>
      <li class="login visible-sm">
        <a class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">Log in / Register</a>
      </li>
    </ul>
  </div>

  <div *ngIf="!isMenuOpen" (click)="toggleMenu()" class="menu-icon visible-sm visible-xs">
    <img [src]="menuIcon">
  </div>
  <div *ngIf="isMenuOpen" (click)="toggleMenu()" class="menu-icon-close visible-sm visible-xs">
    <img [src]="close">
  </div>
</div>