<div class="alt-home-wrapper">
  <div class="row">
    <div class="col-md-4 col-sm-12 title">
      <h1>Sharing knowledge and discovery</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 description">
      Search for research summaries, grey literature, datasets, and funded research
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 button-row">
      <div class="col-md-6 col-md-offset-0 col-sm-3 col-xs-12 col-sm-offset-3 login">
        <button [routerLink]="['/login']" class="btn btn-primary">
          log in
        </button>
      </div>

      <div class="col-md-6 col-sm-3 col-xs-12 register">
        <button class="btn btn-default">
          <a href="https://www.pharmacists.ca/function/join-us/" target="_blank">
          register
            <i class="fa fa-external-link"></i>
          </a>
        </button>
      </div>
    </div>
  </div>
</div>