<div class="alt-home-wrapper">
  <div class="row">
    <div class="col-md-4 title">
      <h1>Sharing knowledge and discovery</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 description">
      Search for research summaries, grey literature, datasets, and funded research
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 button-row">
      <div class="col-md-6 login">
        <button class="btn btn-primary">
          log in
        </button>
      </div>
      <div class="col-md-6 register">
        <button class="btn btn-default">
          register
            <i class="fa fa-external-link"></i>
        </button>
      </div>
    </div>
  </div>
</div>