.alt-home-wrapper {
  padding: 180px 60px;
  background: #f5f5f5 url("../../assets/img/home-circle.png") no-repeat 120% 175%;

  @media (max-width: 991px) {
    text-align: center;
    padding-top: 40px;
    margin: 15px 0;
    background-position: 50% 138%;
    padding-bottom: 450px;
    background-size: 70%;
  }

  .title {
    color: #a91c30;
    margin-bottom: 20px;

    h1 {
      font-size: 3.28rem !important;
    }
  }

  .description {
    font-size: 1.571rem;
    font-family: "Times New Roman", Georgia, Serif;
    margin-bottom: 40px;
  }

  .button-row {
    .login {
      padding-left: 0;
      padding-right: 5px;
    }

    .register {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .btn {
    width: 100%;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.143rem;
    text-transform: uppercase;

    &.btn-default {
      color: #336699;
      border-width: 2px;

      &:hover {
        background-color: white;
        border-color: #ccc;
      }
    }

    &.btn-primary {
      border-color: transparent;
    }
  }
}
