.regulation-wrapper {
  padding: 20px;

  .title {
    border-bottom: 1px solid #EEEEEE;
  }

  .overview {
    margin-top: 30px;

    .overview-subtitle {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .filters {

    .filter-form-wrapper {
      padding: 15px;
      background-color: #EEEEEE;
      border: 1px solid gray;

      form {
        .row {
          margin-bottom: 20px;
        }
      }
    }
  }

  .icons {
    padding-right: 0;
    margin-top: 35px;
    margin-bottom: 10px;

    text-align: right;
    text-transform: uppercase;

    div {
      display: inline-block;
      border-right:1px solid #666666;
      padding-right: 10px;
      padding-left: 10px;

      &:first-child {
        //padding-right: 5px;
        //padding-left: 5px;
      }

      &:last-child {
        border: none;
        padding-right: 0;
      }

      .share {
        font-size: 0.857rem;
        line-height: 1.4rem;
        display: inline-block;
        vertical-align: text-top;
        color: #505050;
      }
    }

    img {
    }
  }

  .sourceType-checkbox {
    > div {
      padding: 0;
    }

    label {
      font-weight: normal;
    }

    input {
      margin-right: 5px;
    }
  }

  .rangeFrom,
  .rangeTo {
    label {
      width: 50px;
      text-align: right;
      font-weight: normal;
      margin-right: 10px;
    }
  }

  .close-button {
    cursor: pointer;
    
    img {
      float: right;
    }
  }

  .btn {
    border-radius: 0;
    color: #628abd;
    border: 2px solid;
    border-color: #cbcbcb;
    padding: 5px 20px;
  }

  .btn:hover {
    background-color: #FFFFFF;
  }

  .filter-apply {
    text-align: right;
  }
}