<div class="regulation-wrapper">
  <div class="row no-margin">
    <div class="col-md-9">
      <div class="title">
        <h1>Regulation</h1>
      </div>

      <div class="breadcrumbs">
        <app-breadcrumbs></app-breadcrumbs>
      </div>

      <div class="overview">
        <div class="overview-title">
          <h2>
            Lorem ipsum dolor sir amer, consectetur adipiscing elit. Sed auctor dui vitae diam dictum utricies.
            Pellentesque sed mattis elit, et consectetur lorem.
          </h2>
        </div>

        <div class="overview-subtitle">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet, turpis dapibus ornare ultricies, felis neque ultricies odio, ac interdum arcu felis non massa. Nulla pellentesque tristique risus in pretium.
          </span>
        </div>
      </div>

      <div class="filters">
        <div *ngIf="!displayFilterForm" (click)="toggleFilter()" class="filter-toggle">
          <button class="btn btn-default" type="submit">{{ 'filters' | uppercase }}</button>
        </div>

        <div [hidden]="!displayFilterForm" class="filter-form-wrapper">
          <form [formGroup]="filterForm">
            <div class="row">
              <div class="col-md-4">
                FILTERS
              </div>

              <div (click)="toggleFilter()" class="col-md-2 col-md-offset-6 close-button">
                <img class="img-responsive" [src]="smallCross">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Source Type
              </div>

              <div class="col-md-4">
                Date Range
              </div>

              <div class="col-md-4">
                Title
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 sourceType-checkbox" formGroupName="sourceType">
                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="all" value="true">All
                  </label>
                </div>

                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="international" value="true">International
                  </label>
                </div>

                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="national" value="true">National
                  </label>
                </div>

                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="provincial" value="true">Provincial
                  </label>
                </div>

                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="background" value="true">Background
                  </label>
                </div>

                <div class="col-md-6">
                  <label>
                    <input type="checkbox" formControlName="policy" value="true">Policy
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="rangeFrom">
                  <label>Between</label>
                  <input type="text"
                         #df="bsDatepicker"
                         formControlName="dateRangeFrom"
                         [bsConfig]="{ containerClass: 'theme-default', showWeekNumbers: false }"
                         [maxDate]="maxDate"
                         placeholder="DD/MM/YYYY"
                         bsDatepicker>
                  <i (click)="df.toggle()" class="fa fa-calendar"></i>
                </div>

                <div class="rangeTo">
                  <label>And</label>
                  <input type="text"
                         #dt="bsDatepicker"
                         formControlName="dateRangeTo"
                         [bsConfig]="{ containerClass: 'theme-default', showWeekNumbers: false }"
                         [minDate]="dateRangeFromMinDate"
                         [maxDate]="maxDate"
                         placeholder="DD/MM/YYYY"
                         bsDatepicker>
                  <i (click)="dt.toggle()" class="fa fa-calendar"></i>
                </div>
              </div>
              <div class="col-md-4">
                <input class="form-control" placeholder="Enter Keyword">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 filter-apply">
                <button class="btn-default btn">{{ 'APPLY' | uppercase }}</button>
              </div>
            </div>
            <div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="col-md-2 col-md-offset-1 icons">
      <div>
        <img [src]="print">
      </div>
      <div>
        <img [src]="share"> <span class="share">Share</span>
      </div>
    </div>
  </div>

</div>
