.search-wrapper {
  margin: 20px 0;
  padding-right: 5px;

  @media (max-width: 991px) {
    margin: 10px 5px;
    padding-right: 0;
  }

  .form-group {
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }

  input{
    border: 1px solid #CCCCCC;
    height: 44px;

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
      color: #999999;
      font-size: 1.286rem;
    }
  }

  .search-icon {
    position: absolute;
    top: 37px;
    right: 30px;

    @media (max-width: 991px) {
      top: 30px;
    }

    @media (max-width: 767px) {
      top: 28px;
    }
  }

  .clear-icon {
    position: absolute;
    top: 34px;
    right: 60px;
  }
}