.search-wrapper {
  margin: 20px 0;

  @media (max-width: 991px) {
    margin: 10px 5px;
  }

  .form-group {
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }

  input{
    border: 1px solid #CCCCCC;
    height: 40px;

    @media (max-width: 991px) {
      display: none;
    }

    ::-webkit-input-placeholder {
      color: #555555;
    }
  }

  .search-icon {
    position: absolute;
    top: 28px;
    right: 30px;

    @media (max-width: 991px) {
      position: static;
    }

    img {
      width: 75%;
    }
  }

  input {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .display {
    display: block !important;

    input {
      display: block;
    }
  }
}