<div class="home-wrapper">

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 banner-wrapper">
      <div class="banner">
        <img class="img-responsive" [src]="banner">
        <div class="banner-text">
          Search for provincial, national and international policy, position and research papers on community pharmacy practice.
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 feed">
      <div class="document-news-feed">
        <h2 class="title">
          Recently added documents
        </h2>

        <ul class="nav nav-pills nav-stacked">
          <li>
            <h3>
              <a>
                Test1
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>

          <li>
            <h3>
              <a>
                Test1
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>

          <li>
            <h3>
              <a>
                Test3
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <app-featured-content></app-featured-content>
    </div>
  </div>
</div>