<div class="home-wrapper row">
    <div class="col-md-9 col-sm-12">
      <div class="banner">
        <img class="img-responsive" [src]="banner">
        <div class="banner-text">
          Search for research summaries, grey literature, datasets, and funded research
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="document-news-feed">
        <h2 class="title">
          Recently added documents
        </h2>

        <ul class="nav nav-pills nav-stacked">
          <li>
            <h3>
              <a>
                Test1
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>

          <li>
            <h3>
              <a>
                Test1
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>

          <li>
            <h3>
              <a>
                Test3
              </a>
            </h3>

            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum arcu sed tellus imperdiet, at pretium erat volutpat.
              Nam ex lectus, dapibus ut dolor id, tempus blandit eros.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 featured">
      <div class="col-md-4 col-sm-4">
        <div class="featured-content">
          <img class="featured-img img-responsive" [src]="featuredIcon">

          <div class="featured-text">
            <a>
              <img class="" [src]="downloadIcon">
              &nbsp; Test Downloads
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="featured-content">
          <img class="featured-img img-responsive" [src]="featuredIcon">

          <div class="featured-text">
            <a>
              <img class="" [src]="downloadIcon">
              &nbsp; Test Downloads
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="featured-content">
          <img class="featured-img img-responsive" [src]="featuredIcon">

          <div class="featured-text">
            <a>
              <img class="" [src]="downloadIcon">
              &nbsp; Test Downloads
            </a>
          </div>
        </div>
      </div>
    </div>
</div>