.home-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    margin-top: 6px;
  }

  .banner-wrapper {
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .banner {

    img {
      @media (max-width: 767px) {
        height: 157px;
      }
    }

    .banner-text {
      font-size: 1.571rem;
      color: #FFFFFF;
      background-color: #555555;
      position: absolute;
      top: 70px;
      left: 15px;
      width: 380px;
      padding: 30px;
      line-height: 1.4em;
      opacity: 0.4;

      @media (max-width: 767px) {
        width: 100%;
        padding: 20px 25px;
        position: static;
      }

      @media (max-width: 991px) {
        top: 40px
      }
    }

    img {
      width: 100%;

      @media (max-width: 991px) {}
    }
  }

  .feed {
    float: right;

    @media (max-width: 991px) {
      margin-top: 20px;
      position: static;
    }
  }

  .featured-content {
    clear: both;
  }

  .document-news-feed {
    background-color: #EEEEEE;
    padding: 20px;
    width: 95%;

    @media (max-width: 991px) {
      width: 100%;
    }

    .title {
      margin-top: 10px;
      font-weight: bold;
    }

    li {
      padding-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}