<div class="home-wrapper">

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 banner-wrapper">
      <div class="banner">
        <img class="img-responsive" [src]="banner">
        <div class="banner-text">
          Search for provincial, national and international policy, position and research papers on community pharmacy practice.
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 feed">
      <div class="document-news-feed">
        <h2 class="title">
          Recently added documents
        </h2>

        <ul class="nav nav-pills nav-stacked">
          <li>
            <h3>
              <a>
                Achieving Excellence in Pharmaceutical Care - A Strategy for Scotland
              </a>
            </h3>

            <div class="text">
              August 27, 2017
            </div>
          </li>

          <li>
            <h3>
              <a>
                Biologics: Challenges and Opportunities for Community Pharmacists
              </a>
            </h3>

            <div class="text">
              August 22, 2017
            </div>
          </li>

          <li>
            <h3>
              <a>
                Canadian Healthcare Network: Time to Take Stock of Our Workforce
              </a>
            </h3>

            <div class="text">
              August 8, 2017
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <app-featured-content></app-featured-content>
    </div>
  </div>
</div>