<div class="my-account-wrapper">
  <div class="row no-margin">
    <div class="col-sm-9 title no-padding">
      <h1>Account Preferences</h1>
    </div>

    <div class="icons hidden-xs col-md-3 col-sm-3 no-padding">
      <div>
        <img [src]="print">
      </div>
      <div>
        <img [src]="share"> <span class="share">Share</span>
      </div>
    </div>
  </div>

  <div class="row no-margin">
    <div class="col-sm-9 no-padding">
      <div class="breadcrumbs">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
    </div>
  </div>


  <div class="row account-details no-margin">
    <div class="section-title">
      <h3>Account Details</h3>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Username</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        janedoe@email.ca
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Password</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        ******<span class="separator">|</span>
        <button class="btn btn-link">Change</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Contact Email</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        janedoe@email.com <span class="separator">|</span>
        <button class="btn btn-link">Change</button>
      </div>
    </div>
  </div>

  <div class="row subscriptions no-margin">
    <div class="section-title">
      <h3>Subscription Preferences</h3> <span class="separator">|</span>
      <span>
      <button class="btn btn-link">
        Manage
      </button>
    </span>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Subscription Status</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        Subscribed
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Notifications Email</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        janedoe@gmail.com
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Notifications Frequency</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        Daily
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <label>Notifications Categories</label>
      </div>
      <div class="col-sm-8 col-xs-12">
        Category1, Category2
      </div>
    </div>
  </div>

</div>