<div class="row featured-wrapper" [ngClass]=" stacked ? 'stacked' : ''">
  <div [ngClass]="stacked ? 'col-md-12 col-sm-4 no-padding' : 'col-md-4 col-sm-4 col-xs-12'">
    <div class="featured-content">
      <img class="featured-img img-responsive" [src]="featuredIcon">

      <div class="featured-text">
        <a>
          <img [src]="downloadIcon">
          <span>Biologics: Challenges and...</span>
          <!-- Biologics: Challenges and Opportunities for Community Pharmacists -->
        </a>
      </div>
    </div>
  </div>

  <!--<div [ngClass]="stacked ? 'clearfix visible-md-block' : 'hidden-lg'"> </div>-->

  <div [ngClass]="stacked ? 'col-md-12 col-sm-4 no-padding' : 'col-md-4 col-sm-4 col-xs-12'">
    <div class="featured-content">
      <img class="featured-img img-responsive" [src]="featuredIcon">

      <div class="featured-text">
        <a>
          <img [src]="downloadIcon" >
          <span>The Price of Public Health...</span>
        </a>
      </div>
    </div>
  </div>

  <div [ngClass]="stacked ? 'col-md-12 col-sm-4 no-padding' : 'col-md-4 col-sm-4 col-xs-12'">
    <div class="featured-content">
      <img class="featured-img img-responsive" [src]="featuredIcon">

      <div class="featured-text">
        <a>
          <img [src]="downloadIcon">
          <span>Medical Cannabis Q&A</span>
        </a>
      </div>
    </div>
  </div>
  <!--
  <div [ngClass]="stacked ? 'col-md-12 col-sm-3 no-padding' : 'col-md-3 col-sm-3 col-xs-12'">
    <div class="featured-text-content">
      <ul>
        <li>
          <div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>
              <a>Most recent submissions</a>
            </span>
          </div>
        </li>

        <li>
          <div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>
              <a>How to submit a document</a>
            </span>
          </div>
        </li>

        <li>
          <div>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <span>
              <a routerLink="/contact-us">Contact us</a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  -->
</div>