.featured-wrapper {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;

  div:not(:first-child) {
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  @media (max-width: 991px) {
    margin-top: 20px;
  }

  > div {
    text-align: center;

    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .featured-content {
      padding: 20px 20px;
      background-color: #EEEEEE;

      @media (max-width: 991px) {
        padding: 15px;
      }

      .featured-img {
        width: 100%;

        @media (min-width: 991px) {
          display: inline-block;
          // width: auto;
        }

        @media (max-width: 767px) {
          display: inline-block;
          width: auto;
        }
      }

      .featured-text {
        margin-top: 20px;
        text-align: left;

        a {
          span {
            padding-left: 10px;
          }
        }
      }
    }

    .featured-text-content {
      padding: 10px 24px;
      background-color: #EEEEEE;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          text-align: left;
          padding-bottom: 10px;

          &:last-child {
            padding-bottom: 0;
          }

          i {
            color: #336699;
          }

          span {
            padding-left: 10px;
          }
        }
      }
    }
  }

  &.stacked {
    margin-top: 0;

    > div {
      // margin: 10px 0;
      
      @media (max-width: 991px) {
        margin: 0;
        padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }

      @media (max-width: 767px) {
        margin: 10px 0;
      }
      
      &:first-child {
        // padding-left: 15px;
        margin-top: 0;
      }

      &:last-child {
        // padding-right: 15px;
        margin-bottom: 0;
      }

      .featured-text {
        padding-bottom: 30px;
        border-bottom: 1px solid #555555;

        @media (max-width: 991px) {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}